.hack {
    background-color: #0f0e0e;
}

.code, .hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong
{
	font-family: 'Source Code Pro', 'JetBrains Mono', 'Ubuntu Mono', monospace;
}

#blog-title {
    font-family: 'Syne', 'Goldman', 'Bungee', 'Source Code Pro', 'Share Tech Mono' monospace;
}

a:visited {
    color: #1c65db;
}

.tag a {
    color:rgb(67, 207, 74);
}

body {
    font-family: 'Source Code Pro', 'JetBrains Mono', 'Ubuntu Mono', monospace;
    font-size: 16px;
}

.entry-title {
    font-family: 'Share Tech Mono', 'Source Code Pro', monospace;
}

.metadata {
    font-weight: bold;
    padding-bottom: 15px;

}